@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
.inter-font-primary {
    font-family: "Inter", serif;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;
  }

/* * { 
    margin: 0px;
    padding: 0px;
 } */

 /* Shared Style */
 .btn-primary {
    background-color: rgba(0, 106, 80, 1.00);
 }

/* Banner Section */
.banner {
    background-color: rgba(198, 228, 214, 1.00);
    margin: 120px 160px;
    padding: 80px 60px;
    border-radius: 24px;
    display: flex;
    justify-content: space-between;

}
.banner-left p {
    font-size: 24px;
    color: rgba(14, 14, 14, 0.50);
}
.banner-left h1 {
    font-size: 56px;
    font-weight: bold;
}
.banner-btn {
    padding: 17px 34px;
    border: none;
    border-radius: 8px;
    color: rgba(255, 255, 255, 1.00);
    font-size: 18px;
    font-weight: 700px;
}

/* Card Section */
.vision {
    margin: 80px 160px;
}
.card-container {
    display: flex;
    max-height: 325px;
}
.vision-title {
    font-size: 40px;
    font-weight: bold;
}
.vision-para {
    opacity: 70%;
    color: rgba(14, 14, 14, 0.70);
    font-size: 16px;
}
.card-title {
    opacity: 80%;
    font-size: 20px;
    font-weight: bold;
}
.card-description {
    color: rgba(14, 14, 14, 0.70);
    font-size: 16px;
}
.card-1 {
    background-color: rgba(84, 144, 245, 0.20);
    border-radius: 16px;
    margin-right: 24px;
    padding: 32px;
}
.card-2 {
    background-color: rgba(198, 228, 214, 1.00);
    border-radius: 16px;
    margin-right: 24px;
    padding: 32px;
}
.card-3 {
    background-color: rgba(247, 235, 207, 1.00);
    border-radius: 16px;
    padding: 32px;
}
.card-btn {
    color: #FFFFFF;
    font-weight: bold;
    padding: 11px 20px;
    border: none;
    border-radius: 8px;
}
.card-btn-1 {
    background-color: #5490F5;
}
.card-btn-2 {
    background-color: #09A15C;
}
.card-btn-3 {
    background-color: #FFC239;
}